.play-page {
background-color: black;
  color: white;
  padding: 20px;
}

.video-banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.video-content {
  text-align: center;
  padding: 20px;
}

video {
  width: 100%;
  max-width: 800px;
  margin: 20px 0;
}
